*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 36px;
}

#nav {
    width: 100%;
    height: 15vh;
    background-color: #2957a4;;
    color: white;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 14vh;
}


#input-data {
    width: 90vw;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    margin-top: 5vh;
    display: flex;
}

.input-text {
    min-width: 210px;
    margin: 5px;
    height: 37px;
    padding-left: 5px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #262626;
    transition: 0.25s;
    outline-color: #2957a4;
}

.input-select{    
    height: 39px !important;    
}

.input-text:focus{
    border-color: #2957a4;
}

.input-btn {
    flex: 1;
    margin: 5px;
    height: 39px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #262626;
    cursor: pointer;
    transition: 0.3s all ease;
}

.input-btn:hover {
    background-color: #2957a4;
    border-color: #383838;
    color: white;
}


.box-Table{
    margin: auto;
    width: 90vw;
    margin-top: 5vh;
    padding: 10px;
    border-radius: 10px;
}

#Table {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0 auto;    
    border-collapse: collapse;
    text-align: center;
}

#Table th {
    background-color: #2957a4;
    padding: 10px;
    color: white;
    font-weight: 200;
}

#Table td, th{
    border: 1px solid #ddd;
    padding: 8px;
}

#Table td{
    padding: 5px;
    font-weight: 600;
    color: #383838;
}

#Table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#Table tr:hover {
    background-color: #ddd;
}

.remove-btn{
    width: 100%;
    height: 100%;
    padding: 3px 0px;
    text-align: center;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-width: 0px;
    background-color: transparent;
    cursor: pointer;
}
.remove-btn:hover{
    color: white;
    background-color: #dc3545;
    border-radius: 6px;
}
.index-style{
    width: 3%;
}